<link rel="stylesheet" href="~/Content/StyleSheet1.css" />

<h2 style="text-align: center">ADMIN DASHBOARD</h2>


<button onclick="window.location.href='/create';">CREATE EMPLOYEE</button>
<button onclick="window.location.href='/printAll';">
    PRINT ALL
    EMPLOYEES
</button>
